# OS
.DS_Store

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# package directories
node_modules
jspm_packages

# Serverless directories
.serverless

# Build directories
.build

# Environment variables
.env
